<p style="color: green"><%= notice %></p>

<h1>Landing pages</h1>

<div id="landing_pages">
  <% @landing_pages.each do |landing_page| %>
    <%= render landing_page %>
    <p>
      <%= link_to "Show this landing page", landing_page %>
    </p>
  <% end %>
</div>

<%= link_to "New landing page", new_landing_page_path %>
