<div class="hospital-container">
  <div class="container container-resize">
      <div class= "hospital-container-header">
        <h3> our hospital network<h3>
        <h6>Choosing the best and closest medical centre for you and </br>your family doesn’t have to be complicated.</br> We will help you find the perfect provider.<h6>
      </div>

      <table class="table">
          <thead>
            <tr>
              <th class="col-2 mobile-col tab-col"></th>
              <th class="col-2">name</th>
              <th class="col-2 mobile-col">coverage</th>
              <th class="col-2 mobile-col">address</th>
              <th class="col-2 mobile-col tab-col">city</th>
              <th class="col-2">state</th>
            </tr>
          </thead>
          </table>

      <div class="container">
        <div class="row row-design ">
          <div class="col-2 mobile-col tab-col"><%=image_tag('hospital-section/row1.svg', alt: "logo", class:"row-img") %></div>
          <div class="col-2">victory intenational hospital</div>
          <div class="col-2 mobile-col">medical</div>
          <div class="col-2 mobile-col">Egebda</div>
          <div class="col-2 mobile-col tab-col">Akowonjo</div>
          <div class="col-2">lagos</div>
        </div>

        <div class="row row-design row-color-ash">
          <div class="col-2 mobile-col tab-col"><%=image_tag('hospital-section/row2.svg', alt: "logo", class:"row-img") %></div>
          <div class="col-2">abbey medical center</div>
          <div class="col-2 mobile-col">medical</div>
          <div class="col-2 mobile-col">112 nnpc road</div>
          <div class="col-2 mobile-col tab-col">warri</div>
          <div class="col-2">delt</div>
        </div>

        <div class="row row-design">
          <div class="col-2 mobile-col tab-col"><%=image_tag('hospital-section/row3.svg', alt: "logo", class:"row-img") %></div>
          <div class="col-2">abelo eye clinic</div>
          <div class="col-2 mobile-col">optical</div>
          <div class="col-2 mobile-col">74, idowu street, olodi-apapa, lagos</div>
          <div class="col-2 mobile-col tab-col">apapa</div>
          <div class="col-2">lagos</div>
    
        </div>
          <div class="row row-design row-color-ash">
              <div class="col-2 mobile-col tab-col"><%=image_tag('hospital-section/row4.svg', alt: "logo", class:"row-img") %></div>
              <div class="col-2">ab pharamceutical ltd (CPN NEXUS)</div>
              <div class="col-2 mobile-col">pharamcy</div>
              <div class="col-2 mobile-col">114 warri/sapele road warri</div>
              <div class="col-2 mobile-col tab-col">port harcourt</div>
              <div class="col-2">rivers</div>
    
          </div>

      </div>

      <div class = "container-btn">
      <button class="btn-view">view</button>
      </div>

  </div>

</div>

