<section class="">
    <div class="card mb-3 cardtest">
        <div class="row g-0 cardcon     ">
            <div class="col-md-6 testimony">
                <div class="float-end">
                    <%=image_tag('testimonial-img /dk.png', alt: "Doctor" ,class:"img-fluid test-img") %>
                        <div class="iconio d-flex">
                            <div class="col-md-4">
                                <p class="rev-no">4.4</p>
                                <p>Reviews</p>
                            </div>

                            <div class="col-md-2">
                                <i class="fa-solid fa-star float-start"></i>
                            </div>
                            <div class=" col-md-6 d-flex flex-column ratebox">
                                <div class="reviews d-flex">5.0
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 100%; background-color:black !important; margin-left: 3px; margin-top: 5px; height: 3px;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="reviews  d-flex">4.0
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 80%; background-color:black  !important; margin-left: 3px;  margin-top: 5px; height: 3px;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div class="reviews  d-flex">3.0
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 60%; background-color:black  !important; margin-left: 3px; margin-top: 5px; height: 3px;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div class="reviews  d-flex">2.0
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 40%; background-color:black  !important; margin-left: 3px; margin-top: 5px; height: 3px;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div class="reviews  d-flex">1.0
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 20%; background-color:black  !important; margin-left: 3px; margin-top: 5px; height: 3px;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="test-body col-md-10 carousel-x carousel slide" data-bs-ride="carousel" id="myCarousel">
                    <h5 class="card-title d-flex">What People Say About us</h5>

                    <span class="carousel-item active">

                        <p class="test-text d-flex">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud
                            sint occaecat</p>

                        <p class="docname d-flex">Mr. Adekunle Johnson </p>
                        <p class="d-flex test-spec">Kidney Transplant</p>
                    </span>
                    <span class="carousel-item">

                        <p class="test-text d-flex">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud
                            sint occaecat</p>

                        <p class="docname d-flex">Mr. Adekunle Johnson </p>
                        <p class="d-flex test-spec">Kidney Transplant</p>
                    </span>
                </div>

                <div class="pic d-flex">
                    <div class="pic d-flex">
                        <%=image_tag('testimonial-img /2.jpg', alt: "small-doc" ,class:"test-doc img-fluid test-img") %>
                            <%=image_tag('testimonial-img /1.jpg', alt: "small-doc" ,class:"test-doc") %>

                    </div>

                    <div class="d-flex test-coro">
                        <div class="test-but">
                            <a class="carousel-control-prev-icon " aria-hidden="true" href="#myCarousel"
                                data-bs-slide="prev">
                                <span class="visually-hidden carousel-control-prev-icon">Previous</span></a>
                        </div>

                        <div class="test-but">
                            <a class="carousel-control-next-icon" aria-hidden="true" href="#myCarousel"
                                data-bs-slide="next">
                                <span class="visually-hidden carousel-control-next-icon">Next</span></a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
