<div class="patient-page">
    <%= react_component("PatientSideBar", props: @patient_header_props, prerender: false) %>
    <%= react_component("Overview", props: @patient_header_props, prerender: false) %>
</div>
