
</div>

    <div class="counter-show row">
    <div class="col-md-4 inner-counter first">
    
    <h2>556+</h2>
    <p>laborum. Sed ut perspi</p>
    </div>
    
    <div class="col-md-4 inner-counter">
    <h2>556+</h2>
    <p>laborum. Sed ut perspi</p>
    </div>
    
    <div class="col-md-4 inner-counter">
    <h2>556+</h2>
    <p>laborum. Sed ut perspi</p>
    </div>
    </div>


