<div class="main_header"> 
  <div class="container-fluid">
     <div class="row">
    <div class="col">
      <div class="main_discription">
         <h1 class="discription-header" >We Take Care of Your Healthy Health</h1>
         <p class = "discription-header_sub">
         Discover the best doctors, 
         clinics and hospitals
         in the city nearest to you.
          </p>

          <div class = "doctor-search">
             <div class="row">
               <div class="col">
                 <div class ="search-input">
                    <%= image_tag("header_svgs/small_person.svg", alt: "message") %>
                    <input type="text" class="form-control no-border" placeholder="Find a Doctor" aria-label="">
                 </div>
               </div>
               <div class="col">
                 <div class ="search-input">
                   <%= image_tag("header_svgs/small_location.svg", alt: "message") %>
                   <input type="text" class="form-control no-border" placeholder="Select Location" aria-label="Last name">
                 </div>
               </div>
             </div>

             <button class="btn search-btn auth-btn">Start Search</button>
          </div>

          <p class = "discription-header_sub">Have a health complain?</p>

          <div class="complain_field">
             <input type="text" class="form-control no-border" placeholder="Find a Doctor" aria-label="">
          </div>
      </div>
    </div>
    <div class="col">
     <%= image_tag("header_svgs/man.svg", alt: "man", class: "doctor-img") %>
    </div>
  </div>
  </div>







  <%= image_tag("header_svgs/wave-haikei.svg", class: "wave" )%>
</div>