@import "variables";

.navbar {
  font-family: "Open Sans", sans-serif;
  background-color: #fefefe;
}

.navbar > .container-fluid {
  padding: 0 50px;
}

.btn.auth-btn {
  color: $white;
  border-radius: $button_border_radius;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
}

.small-btn {
  width: 130px;
  height: 46px;
}

.btn.login-btn {
  background-color: $primary_green_blue;
  margin-right: 24px;
}

.btn.login-btn:hover {
  border: 1px solid $primary_green_blue;
  background-color: $white;
  color: $primary_green_blue;
}

.btn.register-btn {
  background-color: $primary_purple;
}

.btn.register-btn:hover {
  border: 1px solid $primary_purple;
  background-color: $white;
  color: $primary_purple;
}

.nav-item > .nav-link.nav-link-color {
  color: $light_grey !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  margin-left: 24px;
}
