@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@500&display=swap");

.welcome-message {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 40;
  line-height: 27px;
  color: $black;
  flex: none;
  order: 1;
  flex-grow: 0;
  align-items: center;
}

/* This container is for create account */

/* main body */

.form-container {
  display: flex;
  width: 100%;
  background: $primary_green_blue;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 10px 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-login {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  color: $primary_purple;

  /* Inside layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 120px;
}

.email {
  width: 72px;
  height: 24px;
  font-family: "OPen Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* Identictal to  box height */
  letter-spacing: 0.015rem;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: $black;
  margin-bottom: 50px;
  display: inline;
}

.input-fill {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 16px;
  width: 721px;
  height: 56px;
  border: 1px solid#d0d0d0;
  border-radius: 8px;
  flex: 1;
  flex-grow: 0;
  margin-bottom: 35px;
  border-color: #d0d0d0;
  color: $primary_white;
}

.password-image {
  /* Password see image */
  background-image: url ( "google_login/password-logo.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #0000;
  border-radius: 0.25rem;

  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; *
  -webkit-appearance: none;
  -moz-appearance: none;  */
  appearance: none;
}

.password {
  width: 74px;
  height: 24px;
  font-family: "Open Sans";
  font-style: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.015rem;
  color: $black;
  flex: 0;
  order: 0;
  flex-grow: 0;
  margin-bottom: 30px;
}

.button-log {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 51px 18px;
  gap: 10px;
  width: 721px;
  height: 56px;
  background: $primary_purple;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 40px;
  color: $primary_white;
}

.button-log-google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 51px 18px;
  gap: 10px;
  width: 721px;
  height: 56px;
  background: $primary_white;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  border: 1px solid#814A95;
}

.text-or {
  margin: 56px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.or {
  width: 23px;
  height: 23px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.015rem;
  color: #898989;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.shift-google {
  margin-bottom: 25px;
}

.shift-facebook {
  margin-top: 1px;
  margin-bottom: 25px;
}

.link-account {
  width: 471px;
  height: 44px;
  left: 700px;
  top: 1480px;
  line-height: 44px;
  display: inline;
  color: #ffff;
  margin-top: 116px;
  margin-bottom: 72px;
}

.have-account {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  /* identical to box height */
  color: #ffff;
  text-decoration: none;
  display: inline;
}

.account-login {
  color: #ffff;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.forgotten-password {
  width: 150px;
  height: 25px;
  display: inline;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #814a95;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
}

.forgotten-pass {
  position: relative;
  float: right;
  margin-top: calc(24px - 35px);
  margin-bottom: 65px;
}

.reset-password {
  text-decoration: none;
}
