@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@mixin viewdisplay($align-items: center, $justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

/* Patientheader css disign */

.profile-nav-icon {
  margin: 0 16px 0 31px;
}

.display {
  flex-direction: row;
  font-family: "Open Sans";

  @include viewdisplay();
}

.name-text {
  font-weight: 700;
  font-size: 14px;
}

.role-text {
  font-size: 14px;
  font-weight: 500;
}

.dropdown-toggle::after {
  background-image: url("../images/patient_svgs/dropdown.svg");
  margin-left: 24px !important;
}

.notification {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.rounded-circle.circle {
  width: 16px;
  height: 16px;
  font-size: 10px;
  left: 75%;
  top: 5px;

  @include viewdisplay();
}

/* Sidebar css disign */

.side-bar {
  background-color: #e8e8e8;
  width: 350px;
}

.user-info {
  background-color: #19b698;
  height: 151px;
  width: 350px;
  color: white;

  @include viewdisplay();
}

.sidebar-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 16px;
  margin-left: 109px;
}

.sidebar {
  font-family: "Open Sans";
  font-style: normal;
}

.text-one {
  font-weight: 600;
  font-size: 20px;
  width: 141px;
}

.text-two {
  font-weight: 400;
  font-size: 16px;
  width: 89px;
}

.sidebar-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #898989;
}

.menu-head {
  font-size: 20px;
  font-weight: 700;
  margin-left: 101px;
  font-family: "Open Sans";
}

.first {
  margin-top: 8px;
}

.rest {
  margin-top: 47px;
}

.last {
  margin-top: 210px;
}

.sidebar-icons path {
  color: #898989;
  fill: #333;
  width: 20px;
  height: 20px;
}

.menu-list {
  list-style: none;
  text-decoration: none;
  padding: 0;

  .list-item {
    margin-top: 13px;
    font-size: 20px;
    font-weight: 200;
    font-family: "Open Sans";

    .list-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #2b2b2b;
      margin-left: 101px;
    }

    &.active-item {
      background-color: #814a95;

      .list-link {
        color: #fff;

        .sidebar-icons path {
          fill: #fff;
        }
      }
    }
  }
}

.sidebar-icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Overview css disign */

.patient-page {
  display: flex;
}

.patient-handle {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  width: 100%;
  padding: 33px 102px 0 62px;
}

.patient-search-options {
  display: flex;
  border-radius: 16px;
  width: 100%;
  align-items: center;
}

.search-design {
  width: 100%;
  background-color: #fff;
  flex: 4.5;
  padding: 0.4rem;
  border: 1px solid black;

  @include viewdisplay(center, space-between);
}

.end {
  border-radius: 16px 0 0 16px;
}

.search-design.end {
  flex: 3.8;
}

.form-control {
  flex: 5.5;
  border-radius: 0;
}

.search-inputs {
  width: 100%;
  background-color: #fff;
  padding: 0.4rem;
  flex: 5.5;
  border: 1px solid #000;

  .form-control {
    border: none;
  }
}

.submit-btn {
  flex: 1;
  border-radius: 0 16px 16px 0;
  background-color: #814a95;
  padding: 13.7px;
}

.search-design .form-select {
  border: none;
}

.form-select:focus {
  box-shadow: none;
}

.form-select .speciality {
  flex: 3;
  border-radius: 16px 0 0 16px;
}

.greeting {
  width: 100%;
  margin-top: 48px;

  h1 {
    font-family: "Lora";
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    color: #19b698;
  }

  p {
    width: 540px;
    font-weight: 200;
    font-size: 20px;
  }
}

.appointment-activities {
  width: 100%;

  @include viewdisplay(flex-start, space-between);
}

.appointment {
  flex-direction: column;

  @include viewdisplay(flex-start);

  h2 {
    margin-top: 48px;
    margin-bottom: 16px;
  }
}

.appointment-info {
  border: 1px dashed #000;
  flex-direction: column;

  @include viewdisplay();

  h4 {
    width: 458px;
    font-size: 20px;
    text-align: center;
    padding: 91px 142px 0 112px;
  }

  .info-icon {
    width: 253px;
    height: 172px;
    margin-top: 43px;
  }

  .btn {
    width: 215px;
    height: 55px;
    background-color: #19b698;
    border-radius: 16px;
    margin-top: 24px;
    margin-bottom: 40px;
    color: #fff;
  }
}

.activities {
  flex-direction: column;

  @include viewdisplay(flex-start);

  h2 {
    margin-top: 48px;
    margin-bottom: 16px;
  }
}

.activity-info {
  border: 1px dashed #000;
  flex-direction: column;

  @include viewdisplay();

  h4 {
    width: 392px;
    font-size: 20px;
    text-align: center;
    padding: 89px 77px 0 90px;
  }

  .info-icon {
    width: 327px;
    height: 232px;
    margin-top: 39px;
  }

  .lower-part {
    width: 100%;
    height: 64px;
    background-color: #fcffef;
    border-radius: 0 0 16px 16px;
  }
}

.health {
  width: 100%;

  @include viewdisplay(flex-start, space-between);
}

.medications {
  flex-direction: column;

  @include viewdisplay(flex-start);

  h2 {
    margin-top: 44px;
    margin-bottom: 16px;
  }
}

.medication-info {
  border: 1px dashed #000;
  flex-direction: column;

  @include viewdisplay();

  h4 {
    padding: 47px 137px 0 108px;
    width: 438px;
    font-size: 20px;
    text-align: center;
  }

  .info-icon {
    width: 242px;
    height: 242px;
    margin-top: 10px;
    margin-bottom: 45px;
  }
}

.vitals {
  flex-direction: column;

  @include viewdisplay(flex-start);

  h2 {
    margin-top: 44px;
    margin-bottom: 16px;
  }
}

.vitals-info {
  background-color: #fbfbfb;
  border-radius: 16px;
}

.vitals-info-one {
  display: flex;
  margin: 26px 29px 0 24px;
}

.vital-one {
  flex-direction: column;
  margin-right: 24px;
  border-radius: 16px;
  background-color: #c01b4d;

  @include viewdisplay();

  .one {
    padding: 35px 57px 33px 60px;
  }

  h4 {
    padding: 0 10px 45px 11px;
    color: #fff;
    font-size: 10px;
  }
}

.vital-two {
  flex-direction: column;
  border-radius: 16px;
  background-color: #e346be;

  @include viewdisplay();

  .two {
    padding: 32px 59px 31px 60px;
  }

  h4 {
    padding: 0 10px 45px 11px;
    color: #fff;
    font-size: 10px;
  }
}

.vital-three {
  flex-direction: column;
  border-radius: 16px;
  margin-right: 24px;
  background-color: #d4af37;

  @include viewdisplay();

  .three {
    padding: 29px 66px;
  }

  h4 {
    padding: 0 10px 45px 11px;
    color: #fff;
    font-size: 10px;
  }
}

.vital-four {
  flex-direction: column;
  border-radius: 16px;
  background-color: #637ec9;

  @include viewdisplay();

  .four {
    padding: 33px 62px 31px;
  }

  h4 {
    padding: 0 10px 45px 11px;
    color: #fff;
    font-size: 10px;
  }
}

.vitals-info-two {
  display: flex;
  margin: 24px 29px 24px 24px;
}

.billings {
  width: 100%;
  flex-direction: column;

  @include viewdisplay(flex-start, center);

  h2 {
    margin-top: 44px;
    margin-bottom: 24px;
  }
}

.billings-info {
  border: 1px dashed #000;
  width: 100%;
  margin-bottom: 97px;

  @include viewdisplay();

  h4 {
    width: 238px;
    text-align: center;
  }
}

.billing-icon {
  width: 317px;
  height: 255px;
  margin: 43px 0 51px;
}
