@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@500&display=swap");

/* Container for login */

/* Main body that has green color */
.form-container-login {
  display: flex;
  width: 100%;
  background: $primary_green_blue;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 10px 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-message.text {
  margin-bottom: 35px;
}

.container-login {
  width: 941px;
  height: 100%;
  border-radius: 16px;
  background: $primary_white;
  align-items: center;
  padding-left: 111px;
  padding-right: 109px;
  margin-top: 120px;
}

.container-login.register {
  height: 100%;
  padding-right: 109px;
}

/* For forgotten password container */
.forgotten-password-form {
  height: 800px;
  margin-bottom: 50px;
}
