@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "variables";

.search-container.container {
  max-width: 100% !important;
  padding-left: 0 !important;
}

.search-error-container {
  font-family: "Open Sans";
  font-style: normal;
}

.search-error-container * {
  font-family: inherit;
}

.search-404 {
  width: 111px;
  height: 82px;
  font-family: "Lora";
  font-weight: 700;
  font-size: 64px;
}

.search-error-container h3 {
  font-size: 36px;
  line-height: 49px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.search-error-container h4 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.search-error-info.container {
  background-image: url("search/error.svg");
  background-repeat: no-repeat;
  height: 332px;
  width: 80%;
  margin: 0 auto;
  padding: 50px 30px;
}

.search-error-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2b2b2b;
  width: 339px;
  height: 83px;
}

.btn-container {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.btn.btn-back-search {
  background-color: $primary_purple;
  border-color: $primary_purple;
  color: $white;
  margin: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  width: 140px;
  height: 45px;
}

.btn.btn-fire-dog {
  background-color: $white;
  color: $primary_green_blue;
  border-color: $primary_green_blue;
  margin: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  width: 140px;
  height: 45px;
}

.search-header {
  height: 367px;
  background: $primary_green_blue;
  width: 100%;
  padding: 3%;
}

.search-header h2 {
  height: 82px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  color: $white;
  text-align: center;
}

.search-row > * {
  padding: 0 !important;
}

.search-sidebar {
  background: #e8e8e8 !important;
  font-family: "Open Sans";
  font-style: normal;
  border-right: 1px solid #cecaca;
  padding-bottom: 50px;
}

.search-sidebar * {
  font-family: inherit;
}

.search-filter {
  width: 100%;
  height: 54px;
  background: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.filter-wrap {
  width: 70%;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
}

<<<<<<< HEAD
.filter-icon {
  cursor: pointer;
}

.filter-icon-expand {
  display: none;
  cursor: pointer;
}

.filter-icon-container {
  background-color: $white;
  padding: 5px;
  border-radius: 5px;
}

=======
>>>>>>> 431c1aa (search sidebar filter)
.filter-text {
  width: 53px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: $black;
<<<<<<< HEAD
  margin-left: 1px;
  text-align: center;
  padding-top: 5px;
}

.filter-wrap-toggle {
  flex-direction: column;
  align-items: flex-end;
}

.filter-text-toggle {
  font-size: 15px;
  height: 27px;
  font-weight: 700;
  color: $black;
=======
>>>>>>> 431c1aa (search sidebar filter)
  margin-left: 10px;
}

.filter-form {
  width: 70%;
  margin-left: auto;
  margin-right: 20px;
}

.filter-form-select {
  border: 1px solid #898989 !important;
  background-image: url("search/filter-search-arrow.svg") !important;
}

.filter-form h6 {
  width: 53px;
  height: 27px;
  left: 95px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: $primary_dark_grey;
  margin-top: 30px;
}

.filter-speciality {
  width: 100%;
  background: #fafafa;
  border: 1px solid #898989;
  border-radius: 16px;
  max-height: 342px;
  overflow-y: auto;
}

.filter-speciality .header {
  box-sizing: border-box;
  width: inherit;
  height: 40px;
  border-bottom: 1px solid #898989;
  border-radius: 16px 16px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 10px;
}

.form-check-label {
  height: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2b2b2b;
}

.filter-speciality input[type="text"]:focus {
  border: 1px solid #898989 !important;
}

.form-check-input:checked {
  background-color: $primary_green_blue !important;
  border: 0;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

.filter-speciality::-webkit-scrollbar {
  width: 10px;
}

.filter-speciality::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filter-speciality::-webkit-scrollbar-thumb {
  background: #888;
}

.filter-speciality::-webkit-scrollbar-thumb:hover {
  background: #555;
}
>>>>>>> 431c1aa (search sidebar filter)
=======
>>>>>>> c058348 (search sidebar filter)
