@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "variables";

.search-container.container {
  max-width: 100% !important;
  padding-left: 0 !important;
}

.search-error-container {
  font-family: "Open Sans";
  font-style: normal;
}

.search-error-container * {
  font-family: inherit;
}

.search-404 {
  width: 111px;
  height: 82px;
  font-family: "Lora";
  font-weight: 700;
  font-size: 64px;
}

.search-error-container h3 {
  font-size: 36px;
  line-height: 49px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.search-error-container h4 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.search-error-info.container {
  background-image: url("search/error.svg");
  background-repeat: no-repeat;
  height: 332px;
  width: 80%;
  margin: 0 auto;
  padding: 50px 30px;
}

.search-error-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2b2b2b;
  width: 339px;
  height: 83px;
}

.btn-container {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.btn.btn-back-search {
  background-color: $primary_purple;
  border-color: $primary_purple;
  color: $white;
  margin: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  width: 140px;
  height: 45px;
}

.btn.btn-fire-dog {
  background-color: $white;
  color: $primary_green_blue;
  border-color: $primary_green_blue;
  margin: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  width: 140px;
  height: 45px;
}

.search-header {
  height: 367px;
  background: $primary_green_blue;
  width: 100%;
  padding: 1%;
}

.search-header h2 {
  height: 82px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 82px;
  color: $white;
  text-align: center;
}

.search-row > * {
  padding: 0 !important;
}

.search-sidebar {
  background: #e8e8e8 !important;
  font-family: "Open Sans";
  font-style: normal;
  border-right: 1px solid #cecaca;
  padding-bottom: 50px;
}

.search-sidebar * {
  font-family: inherit;
}

.search-filter {
  width: 100%;
  height: 54px;
  background: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.filter-wrap {
  width: 70%;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
}

.filter-icon {
  cursor: pointer;
}

.filter-icon-expand {
  display: none;
  cursor: pointer;
}

.filter-icon-container {
  background-color: $white;
  padding: 5px;
  border-radius: 5px;
}

.filter-text {
  width: 53px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: $black;
  margin-left: 1px;
  text-align: center;
  padding-top: 5px;
}

.filter-wrap-toggle {
  flex-direction: column;
  align-items: flex-end;
}

.filter-text-toggle {
  font-size: 15px;
  height: 27px;
  font-weight: 700;
  color: $black;
  margin-left: 10px;
}

.filter-form {
  width: 70%;
  margin-left: auto;
  margin-right: 20px;
}

.filter-form-select {
  border: 1px solid #898989 !important;
  background-image: url("search/filter-search-arrow.svg") !important;
}

.filter-form h6 {
  width: 53px;
  height: 27px;
  left: 95px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: $primary_dark_grey;
  margin-top: 30px;
}

.filter-speciality {
  width: 100%;
  background: #fafafa;
  border: 1px solid #898989;
  border-radius: 16px;
  max-height: 342px;
  overflow-y: auto;
}

.filter-speciality .header {
  box-sizing: border-box;
  width: inherit;
  height: 40px;
  border-bottom: 1px solid #898989;
  border-radius: 16px 16px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 10px;
}

.form-check-label {
  height: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2b2b2b;
}

.filter-speciality input[type="text"]:focus {
  border: 1px solid #898989 !important;
}

.form-check-input:checked {
  background-color: $primary_green_blue !important;
  border: 0;
}

.filter-speciality::-webkit-scrollbar {
  width: 10px;
}

.filter-speciality::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filter-speciality::-webkit-scrollbar-thumb {
  background: #888;
}

.filter-speciality::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.doctor-card {
  background-color: #f9f9f9;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 24px;
  min-width: 294px;
  position: relative;
}

.doctor-card .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.doctor-card-img {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif");
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  border-radius: 100%;
  background-size: contain;
}

.doctor-speciality {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.card-body .card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000;
}

.card-text {
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.card-btn {
  display: flex;
  align-items: center;
  width: 100%;

  a {
    padding: 10px 0;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  .btn-profile {
    background-color: #f1e0ee;
    border-radius: 0 0 0 16px;
    color: #2b2b2b;

    &:hover {
      color: inherit;
    }
  }
}

.btn-appiontment {
  background-color: #c01b4d;
  border-radius: 0 0 16px;
  color: #fff;

  &:hover {
    color: white;
  }
}

.doctor-search-output {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  padding-top: 40px;
  gap: 25px;
  margin-bottom: 40px;
}

.doctor-card .doctor-rating {
  background-color: #d4af37;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 10%;
}

.doctor-rating-img {
  height: 16px;
  min-width: 16px;
  margin-right: 5px;
  padding: 3px;
}

.rating-value {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  padding-right: 5px;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 102px;
  height: 96px;
  background-color: #f1e0ee;
  border-radius: 16px;
  padding: 36px 16px;
}

.searchbox-container .patient-search-options {
  width: 100%;
  height: 64px;
}

.cicular-bar {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cicular-bar svg {
  position: absolute;
  width: 68%;
  top: -4%;
  left: 50%;
  transform: translate(-40%, -2%);
}

.cicular-bar svg circle {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 4;
  transform: translate(10px, 5px);
  stroke-dasharray: 472;
}

.cicular-bar svg circle:nth-child(2) {
  stroke: var(--col);
  stroke-dasharray: 472;
  stroke-dashoffset: calc(472 - ((472 * var(--num)) / 100));
}

.dot {
  position: absolute;
  inset: 5px;
  z-index: 1;
}

.dot::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 75%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  background-color: var(--col);
}
