@import "variables";

@mixin servicesdiv($background: rgb(255,255,255)){
    box-sizing: border-box;
    width: 24%;
    height: 340px;
    background: $background;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 26px rgba(42, 42, 42, 0.1);
    border-radius: $border_radius;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    margin-bottom: 80px;
}

@mixin service_icon_div($background:rgb(255,255,255)){
    position: relative;
    width: 100px;
    height: 100px;
    background:$background;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    margin-bottom: 16px;
    padding: 20px;
    box-sizing: border-box;
}

@mixin servicedivh6{
    font-family:  'Open Sans';
    font-style: normal ;
    font-weight: 600;
    font-size: 1.7rem ;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}
@mixin servicedivpara {
    font-family: 'Open Sans';
    font-style: normal ;
    font-weight:  400;
    font-size: 1 rem ;
    line-height: 27px;
    text-align: center;
    color: #000000; 
    padding: 10px;
    height: 81px;
    width: 240px;
}
@mixin btn($bordercolor:#19B698) {
  box-sizing: border-box;
  width: 208px;
  height: 72px;
  border: 2px solid $bordercolor;
  border-radius: 16px;
  margin-right:10px;
}
$colors: 
   #848484,
   #7E8560,
   #8C5A83,
   #528C58,
   #3F7182,
   #748138,
   #445D81,
   #848484
;


.section-service .heading{
    width: 676px;
    height: 61px;
    font-style: normal  ;
    font-family: 'Lora';
    font-weight: 700;
    font-size:  48px;
    line-height: 61px;
    color: $primary_purple;
    text-align: center;
    margin: 0 auto;
    }
    .section-service .sub-heading{
    width: 531px;
    height: 54px;
    font-family: 'Open Sans';
    font-style: normal ;
    font-size:  20px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color:$black;
    margin: 0 auto;
    }
    .section-service .services{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top:61px;
        box-sizing: border-box;
        justify-content: space-between;
    }
    .section-service .services :nth-child(1){
    @include servicesdiv($background:#E8E8E8);
    
    }
    .section-service .services :nth-child(2){
        @include servicesdiv($background:#EDF0DE)
    }
    .section-service .services :nth-child(3){
        @include servicesdiv($background:#F1E0EE)
    }
    .section-service .services :nth-child(4){
        @include servicesdiv($background:#E0F0E2);
        margin-right:0px;
    }
    .section-service .services :nth-child(5){
        @include servicesdiv($background:#E0E0E0);
        margin-right:0px;
    }
    .section-service .services :nth-child(6){
        @include servicesdiv($background:#F3FDC2);
        margin-right:0px;
    }
    .section-service .services :nth-child(7){
        @include servicesdiv($background:#D2E5FF);
        margin-right:0px;
    }
    .section-service .services :nth-child(8){
        @include servicesdiv($background:#DEDEDE);
        margin-right:0px;
    }

    .section-service .services :not(:last-child) {
        @for $i from 1 through length($colors){
            .service_icon_div#{$i}{
                all:initial;
                @include service_icon_div($background:nth($colors,$i));
             }      
        }
       
         h6{
            all:initial;
            @include servicedivh6;
            }
            p{
                all:initial;
                @include servicedivpara;
            }
    }
    .section-service .services :last-child {
        .service_icon_div{
            all:initial;
            @include service_icon_div($background:#848484);
         }
         h6{
            all:initial;
            @include servicedivh6;
            }
            p{
                all:initial;
                @include servicedivpara;
            }
    }
     .consultation{
        margin-bottom: 127px;
       
    }
    .consultation .imagebox{
    box-sizing: border-box;
    height: 553px;
    background-image:image-url("services-section-img/consulting-imagebox.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-position: center center;
     background-size: cover;
     background-origin: padding-box;
    border-radius: 32px;
    padding: 70px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    }
 
    .consultation .imagebox .signal{
    position: absolute;
    right:5%;
    top:-5%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    }


    .consultation .imagebox .globe{
        position: absolute;
        right:34px;
        bottom:0px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        }

    .consultation .imagebox .cross{
        position: absolute;
        right:380px;
        top: 123px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        }

    .consultation .textdiv{
        box-sizing: border-box;
        height: 566.57px;
        padding-left: 30px;
    }
    .consultation .textdiv h2{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 51px;
    color: $primary_purple;
    }
    .consultation .textdiv p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 27px;
    color: #000000;
    margin-bottom: 36px;
    }
    /* Vector */
    .btn-container{
        display: flex;
        
    }
    .consultation .btn-container .btn-personal{
    @include btn($bordercolor:#19B698);
    }
    .consultation .btn-container .btn-family{
    @include btn($bordercolor:#814A95);
    }
    .counter-show{
        height: 300px;
        background: #814A95;
        width: 100%;
        
    }
    .row{
        margin-left:0px !important; 
    }
    .counter-show .inner-counter{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }
    .counter-show .inner-counter h2{
    width: 147px;
    height: 87px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FCFFEF;
    }
    .counter-show .inner-counter p{
    width: 213px;
    height: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FCFFEF;
    }
    .easyway{
        display: none;
    }
    .counter-show .first {
    background-image: image-url("services-section-img/Vector.png");;
    }
    @media only screen and (min-width: 1000px) {
        .consultation .imagebox .signal{
            position: absolute;
            right:1%;
            top:-5%;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            }
        
            .easyway{
                display: none;
            }
            .row{
                margin-left:0px !important; 
            }
            .consultation .imagebox .globe{
                position: absolute;
                right:34px;
                bottom:0px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                }
        
            .consultation .imagebox .cross{
                position: absolute;
                right:340px;
                top: 123px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                }
    }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    @mixin btn($bordercolor:#19B698) {
        box-sizing: border-box;
        width: 180px;
        height: 56px;
        border: 2px solid $bordercolor;
        border-radius: 16px;
        margin-right:10px;
      }
    @mixin servicesdiv($background: rgb(255,255,255)){
        box-sizing: border-box;
        width: 48%;
        height: 184.29px;
        margin-bottom: 24.7px;
        padding: 2px;
    }
    @mixin service_icon_div($background:rgb(255,255,255)){
        width: 58.64px;
        height: 58.64px;
        padding: 10px;
        margin-bottom: 8.38px;
        background:$background;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        align-content: center;
    }
    @mixin servicedivh6{
        height: 23.04px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #2B2B2B;
    }
    @mixin servicedivpara{
        height: 61px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        padding: 2px;
    }
    .section-service .heading{
        width: 21.625rem;
        height: 2.0652rem;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.056rem;
        margin-bottom: 16px;
        }
        .section-service .sub-heading{
            width: auto;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.375rem;
            color: #2B2B2B;
        }
        .section-service .services{
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .consultation{
            margin-top: 24px;
            margin-bottom: 0px;
            height: auto;
        }
        .consultationbgr{
            background-color: #F2F2F2;
            
        }
       
        .consultation .imagebox{
            box-sizing: border-box;
            height: 274px;
            background-image:image-url("services-section-img/consulting-imagebox.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
             background-position: center center;
             background-size: cover;
            border-radius: 32px;
            padding: 70px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            }
            .consultation .textdiv{
                padding-left: 0px;
                margin-top: 24px;
                height: 400px;
            }
            .consultation .textdiv p{
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: $black;
                padding: 1px;
            }   
            .consultation .textdiv h2{
                display:none;
                }
        .consultation .imagebox .signal{
            display: none;
            position: absolute;
            right:5%;
            top:-5%;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            }
           
            .easyway{
            margin-top: 20px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 33px;
            text-align: center;
            color: $primary_purple;
            margin-bottom: 19px;
            }
            .consultation .imagebox .globe{
                display: none;
                position: absolute;
                right:34px;
                bottom:0px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                }
        
            .consultation .imagebox .cross{
                display: none;
                position: absolute;
                right:380px;
                top: 123px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                }
                .counter-show{
                    height: 300px;
                    background: #814A95;
                }
                .row{
                    margin-left:0px !important; 
                }
                .counter-show .inner-counter h2{
                    width: 113px;
                    height: 65px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 65px;
                    color: #FCFFEF;
                    }
                    .counter-show .inner-counter p{
                    width: 176px;
                    height: 22px;;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #FCFFEF;
                    }
        .consultation .btn-container .btn-personal{
            @include btn($bordercolor:#19B698);
            }
            .consultation .btn-container .btn-family{
            @include btn($bordercolor:#814A95);
            }
        .section-service .services :nth-child(1){
            @include servicesdiv($background:#E8E8E8);
            }
            .section-service .services :nth-child(2){
                @include servicesdiv($background:#EDF0DE)
            }
            .section-service .services :nth-child(3){
                @include servicesdiv($background:#F1E0EE)
            }
            .section-service .services :nth-child(4){
                @include servicesdiv($background:#E0F0E2);
                margin-right:0px;
            }
            .section-service .services :nth-child(5){
                @include servicesdiv($background:#E0E0E0);
                margin-right:0px;
            }
            .section-service .services :nth-child(6){
                @include servicesdiv($background:#F3FDC2);
                margin-right:0px;
            }
            .section-service .services :nth-child(7){
                @include servicesdiv($background:#D2E5FF);
                margin-right:0px;
            }
            .section-service .services :nth-child(8){
                @include servicesdiv($background:#DEDEDE);
                margin-right:0px;
            }
            .section-service .services :not(:last-child) {
                @for $i from 1 through length($colors){
                    .service_icon_div#{$i}{
                        all:initial;
                        @include service_icon_div($background:nth($colors,$i));
                     }      
                }
               
                 h6{
                    all:initial;
                    @include servicedivh6;
                    }
                    p{
                        all:initial;
                        @include servicedivpara;
                    }
            }
            .section-service .services :last-child {
                .service_icon_div{
                    all:initial;
                    @include service_icon_div($background:#848484);
                 }
                 h6{
                    all:initial;
                    @include servicedivh6;
                    }
                    p{
                        all:initial;
                        @include servicedivpara;
                    }
            }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}