/*
  General color
*/
$light_grey: #f2f2f2;
$primary_dark_grey: #2b2b2b;
$primary_green_blue: #19b698;
$primary_irish: #bcd34c;
$primary_purple: #814a95;
$white: #fcffef;
$black: #000;

/*
  General border line
  button_border_radius is for buttons and input except the complain input
*/
$border_radius: 32px;
$button_border_radius: 16px;
