/*
  General color
*/
$light_grey         : #898989;
$primary_dark_grey  : #2B2B2B;
$primary_green_blue : #19B698;
$primary_irish      : #BCD34C;
$primary_purple     : #814A95;
$white              : #FCFFEF;
$black              : #000000;

/*
  General border line
  button_border_radius is for buttons and input except the complain input
*/
$border_radius: 32px;
$button_border_radius: 16px;

